<div class="container-fould">
  <div class="row">
    <div class="col-lg-3">
      <%= render "search", category_parent_array: @category_parent_array %>
        <!--タグリスト-->
        <div class="tagbox">
          <h6>タグ検索</h6>
          <% @tag_list.each do |list| %>
              <% unless list.stores.count.zero? %>
              ・<%= link_to truncate(list.name, length: 6), admin_search_tag_path(tag_id: list.id), class: "text-dark" %>
              <%="(#{list.stores.count})" %>
              <% end %>
          <% end %>
        </div>
    </div>

      <div class="col-lg-9">
       <h2>タグが「<%= truncate(@tag.name, length: 20) %>」の投稿一覧</h2>
        <div class="tbody">
          <table class= "table table-hover table-inverse mx-auto">
            <tr class="p-3 mb-2 text-dark" style="background:lightblue">
              <th>投稿No</th>
              <th>〇〇地方, 都道府県, カテゴリ</th>
              <th>店舗名</th>
              <th>説明文</th>
              <th>最寄り駅</th>
              <th>コメント</th>
              <th>いいね数</th>
            </tr>

            <% @stores.each do |store|%>

            <tr>
              <td><%= store.id %></td>
              <td><%= store.parent.name %>,<%= store.children.name %>,<%= store.grandchildren.name %></td>
              <td><%= link_to truncate(store.shop, length: 10), admin_store_path(store.id), class: "text-dark" %></td>
              <td><%= truncate(store.description, length: 20) %></td>
              <td><%= store.nearest_station %></td>
              <td><%= link_to "#{store.comments.count} コメント", admin_store_path(store.id), class: "text-dark" %></td>
              <td class="text-danger">♥<%= store.like_lists.count %> いいね</td>
           </tr>
           <% end %>
           
         </table>
        </div>
      <%= paginate @stores %>
      </div>
  </div>
</div>
