<%= flash[:notice] %>
<div class="container">
  <h1 class="pt-3">投稿詳細</h1>
  <div class="row">
    <div class="col-lg-5">

      <table class="tableArea2">
        <tr>
          <td><%= image_tag @store.image, size: "240x160" %></td>
          <td></td>
        </tr>

        <tr>
          <th>投稿者</th>
          <td><%= @store.member.name %></td>
        </tr>

        <tr>
          <th>カテゴリ</th>
          <td><%= @store.parent.name %>,<%= @store.children.name %>,<%= @store.grandchildren.name %></td>
        </tr>

        <tr>
          <th>店名</th>
          <td><%= @store.shop %></td>
        </tr>

        <tr>
          <th>店説明</th>
          <td><%= @store.description %></td>
        </tr>

        <tr>
          <th>最寄り駅</th>
          <td><%= @store.nearest_station %></td>
        </tr>

        <tr>
          <td><%= link_to "編集する", edit_admin_store_path, class: "edit-button" %></td>
          <td><%= link_to '投稿削除', admin_store_path, class: "destroy-button", method: :delete, data: { confirm: '本当に消しますか？' } %></td>
        </tr>

        <tr>
          <th>タグ</th>
          <td>
            <% @store_tags.each do |tag| %>
            <i class="fa-sharp fa-solid fa-tag"></i>
            <%= tag.name %>
            <% end %>
          </td>
        </tr>

        <tr>
          <th>コメント件数</th>
          <td id= "store_<%= @store.id %>">:<%= @store.comments.count %>件</td>
        </tr>

      </table>
    </div>


    <div class="col-lg-7">
      <div class= "textbox comments">
        <%= render 'admin/comments/comment', store: @store %>
      </div>
    </div>
  </div>
</div>
