<%= javascript_pack_tag 'category_form', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <% if @store.errors.any? %>
  <%= @store.errors.count %>件のエラーが発生しました
  <ul>
    <% @store.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>


    <div class="col-lg-8">
    <h1>風変わり所登録</h1>

    <%= form_with model: @store, url: stores_path do |f| %>

      <table class="tableedit">
        <tr>
          <th><%= f.label :image %></th>
          <td><%= f.file_field :image, accept: "image/*" %></br>※画像必須</td>
        </tr>

        <tr>
          <th>カテゴリ</th>
          <td class='form-group category-form'>
            <select class='form-control parent_id_form' name='store[parent_id]'>
              <% @category_parent_array.each do |category| %>
                  <option value='<%= category[1] %>' data-category='<%= category[1] %>'><%= category[0] %></option>
              <% end %>
            </select>
            <i class='fas fa-chevron-down'></i>
          </td>
        </tr>

        <tr>
          <th><%= f.label :shop %></th>
          <td><%= f.text_field :shop, class: 'form-control' %></td>
        </tr>

        <tr>
          <th><%= f.label :description %></th>
          <td><%= f.text_area :description, class: 'form-control' %></td>
        </tr>

        <tr>
          <th><%= f.label :nearest_station %></th>
          <td><%= f.text_field :nearest_station, class: 'form-control' %></td>
        </tr>
      </table>
      <input type="hidden" name="store[category_id]" value="1">
      <label>タグ(,で区切ると複数タグ登録できます)</label>
      <%= f.text_field :name,value: @tag_list, placeholder: "同じタグ名は複数登録出来ません", class: 'form-control' %>

      <% if @member.email == "guest@example.com" then %>
      <div class="form-group">
      <pp class= "btn btn-success" >新規会員登録で投稿できます！</pp>
      </div>
      <% else %>
      <div class="form-group">
      <%= f.submit '新規投稿', class: "btn btn-success" %>
      </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
