<%= javascript_pack_tag 'category_form', 'data-turbolinks-track': 'reload' %>
<% if flash[:error].present? %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>

<div class="container">
  <div class="row">
<div class="mx-auto" style="width: 500px;">

<h1>風変わり所登録</h1>

<%= form_with model: @store, url: stores_path do |f| %>

<table class="tableedit">
  <tr>
<th>
  <%= f.label :image, "お店のイメージ" %>
</th>
<td>
<%= f.file_field :image, accept: "image/*" %></br>
※画像は無しでも可
</td>
</tr>

<tr>
  <th>
  カテゴリ
  </th>
  <td class='form-group category-form'>
    <select class='form-control parent_id_form' name='store[parent_id]'>
      <% @category_parent_array.each do |category| %>
          <option value='<%= category[1] %>' data-category='<%= category[1] %>'><%= category[0] %></option>
      <% end %>
    </select>
    <i class='fas fa-chevron-down'></i>
  </td>
</tr>

<tr>
  <th>
<%= f.label :shop, "店名" %>
  </th>
<td>
<%= f.text_field :shop, class: 'form-control' %>
</td>
</tr>

<tr>
  <th>
<%= f.label :description, "説明文" %>
  </th>
<td>
<%= f.text_area :description, class: 'form-control' %>
</td>
</tr>

<tr>
  <th>
<%= f.label :nearest_station, "最寄り駅" %>
  </th>
<td>
<%= f.text_field :nearest_station, class: 'form-control' %>
</td>
</tr>
</table>
<input type="hidden" name="store[category_id]" value="1">
<label>タグ(,で区切ると複数タグ登録できます)</label>
<%= f.text_field :name,value: @tag_list, class: 'form-control' %>

<% if @member.email == "guest@example.com" then %>
<div class="form-group">
<pp class= "btn btn-success" >新規会員登録で投稿できます！</pp>
</div>
<% else %>
<div class="form-group">
<%= f.submit '新規投稿', class: "btn btn-success" %>
</div>
<% end %>
</div>


<% end %>
</div>
</div>
</div>
