<%#= javascript_tag 'category_form', 'data-turbolinks-track': 'reload' %>

<script>
    //↓ページ読み込みが完了したら
$(function() {
  function appendOption(category) {
    //変数の宣言
    let html = `<option value='${category.id}' data-category='${category.id}'>${category.name}</option>`;
    return html;
  }

  function appendChidrenBox(insertHTML) {
    let childrenSelectHtml = '';
    childrenSelectHtml = `
      <div id='children-wrapper'>
        <select id='children-category' class='form-control' name='[children_id]'>
          <option value='---' data-category='---'>---</option>
          ${insertHTML}
        </select>
        <i class='fas fa-chevron-down'></i>
      </div>
    `;
    $('.category-form').append(childrenSelectHtml);//クラスの要素に追加する()内
  }

  function appendGrandchidrenBox(insertHTML) {
    let grandchildrenSelectHtml = '';
    grandchildrenSelectHtml = `
      <div id='grandchildren-wrapper'>
        <select id='grandchildren-category' class='form-control' name='[grandchildren_id]'>
          <option value='---' data-category='---'>---</option>
          ${insertHTML}
        </select>
        <i class='fas fa-chevron-down'></i>
      </div>
    `;
    $('.category-form').append(grandchildrenSelectHtml);
  }

  $('.parent_id_form').on('change', function() {
    let parentId = document.querySelector('.parent_id_form').value;//←IDがついているものを探し()内
    console.log({parentId})
    if (parentId != -1) {
      $.ajax({
        url: '/get_category/children',
        type: 'GET',
        data: {
          parent_id: parentId,
        },
        dataType: 'json',
      })
      //done(通信が成功した場合))
        .done(function(children) {
          console.log({children})
          $('#children-wrapper').remove();
          $('#grandchildren-wrapper').remove();
          let insertHTML = '';
          children.forEach(function(children) {
            insertHTML += appendOption(children);
          });
          appendChidrenBox(insertHTML);
        })
        .fail(function() {
          alert('カテゴリ取得に失敗しました');
        });
    } else {
      $('#children-wrapper').remove();
      $('#grandchildren-wrapper').remove();
    }
  });

  $('.category-form').on('change', '#children-category', function() {
    let childrenId = $('#children-category option:selected').data('category');
    if (childrenId != '---') {
      $.ajax({
        url: '/get_category/grandchildren',
        type: 'GET',
        data: {
          children_id: childrenId,
        },
        dataType: 'json',
      })
        .done(function(grandchildren) {
          console.log('grandchildren:'+grandchildren)
          if (grandchildren.length != 0) {
            $('#grandchildren-wrapper').remove();
            let insertHTML = '';
            grandchildren.forEach(function(grandchildren) {
              insertHTML += appendOption(grandchildren);
            });
            appendGrandchidrenBox(insertHTML);
          }
        })
        .fail(function() {
          alert('カテゴリ取得に失敗しました');
        });
    } else {
      $('#grandchildren-wrapper').remove();
    }
  });
});

</script>

<% if flash[:error].present? %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>
<h1>店舗登録</h1>

<%= form_with model: @store, url: stores_path do |f| %>

<div class="form-group">
<%= f.label :image, "お店のイメージ" %>
<%= f.file_field :image, accept: "image/*" %>
</div>

<p>カテゴリ</p>
<div class='form-group category-form'>
    <select class='form-control parent_id_form' name='parent_id'>
      <% @category_parent_array.each do |category| %>
          <option value='<%= category[1] %>' data-category='<%= category[1] %>'><%= category[0] %></option>
      <% end %>
    </select>
    <i class='fas fa-chevron-down'></i>
</div>


<div class="form-group">
<%= f.label :nearest_station, "最寄り駅" %>
<%= f.text_field :nearest_station %>
</div>

<input type="hidden" name="store[category_id]" value="1">

<div class="form-group">
<%= f.label :description, "説明文" %>
<%= f.text_area :description %>
</div>

<div class="form-group">
<%= f.label :name, "店名" %>
<%= f.text_field :name %>
</div>
<div class="form-group">
<%= f.submit '新規投稿', class: "btn btn-success" %>
</div>

<% end %>
