<h2>タグが<%=@tag.name%>の投稿一覧</h2>
<%= render "search", category_parent_array: @category_parent_array %>

  <!--タグリスト-->
 <% @tag_list.each do |list| %>
  <% unless list.stores.count.zero? %>
  <i class="fa-sharp ha-solid fa-tag"></i>
  <%= link_to list.name,search_tag_path(tag_id: list.id) %>
  <%="(#{list.stores.count})" %>
  <% end %>
<% end %>

  <table class= "table table-hover table-inverse mx-auto my-3">
 <tr class="p-3 mb-2 text-dark" style="background:lightblue">
  <th>投稿ID</th>
  <th>〇〇地方, 都道府県, カテゴリ</th>
  <th>店舗名</th>
  <th>説明文</th>
  <th>最寄り駅</th>
  <th>コメント</th>
  <th>いいね数</th>
 </tr>

  <% @stores.each do |store|%>

  <tr>
   <td><%= store.id %></td>
    <td><%= store.parent.name %>,<%= store.children.name %>,<%= store.grandchildren.name %></td>
   <td><%= link_to store.shop, store_path(store.id), class: "text-dark" %></td>
   <td><%= store.description %></td>
   <td><%= store.nearest_station %></td>
   <td><%= link_to "#{store.comments.count} コメント", store_path(store.id), class: "text-dark" %></td>
   <% if store.like_listed_by?(current_member) %>
    <td>
      <%= link_to store_like_lists_path(store), class: "text-danger", method: :delete do %>
        ♥<%= store.like_lists.count %> いいね
      <% end %>
    </td>
    <% else %>
    <td>
      <%= link_to store_like_lists_path(store), class: "text-dark", method: :post do %>
        ♡<%= store.like_lists.count %> いいね
      <% end %>
    </td>
  <% end %>

 </tr>
 <% end %>
 </table>