<h1>投稿詳細</h1>

<table class="table-borderless">
  <tr>
    <td>
      <% if @store.image.attached? %>
       <%= image_tag @store.image, size: "100x100" %>
      <% else %>
       <%= image_tag 'no_image', size: "100x100" %>
      <% end %>
    </td>
    <td></td>
  </tr>

  <tr>
    <td>店名</td>
    <td><%= @store.name %></td>
  </tr>

  <tr>
    <td>カテゴリ</td>
    <% @store.store_categories.each do |category| %>
    <td><%= category.category.name %></td>
    <% end %>
  </tr>

  <tr>
    <td>最寄り駅</td>
    <td><%= @store.nearest_station %></td>
  </tr>

  <tr>
    <td>店説明</td>
    <td><%= @store.description %></td>
  </tr>

  <tr>
    <td>
     <%= link_to "編集する", edit_member_store_path, class:"btn btn-success" %>
    </td>
  </tr>

  <div>
  <p>コメント件数：<%= @store.comments.count %></p>
  <% @store.comments.each do |comment| %>
    <%= comment.member.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
  <% end %>
</div>
<div>
  <%= form_with model: [@member, @store, @comment], local: false do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメント入力欄" %>
    <%= f.submit "送信する" %>
  <% end %>
  <%# if store_comment.member == current_member %>
  <%#= link_to "Destroy", store_store_comment_path(store, store_comment), method: :delete, class: "btn btn-danger pull-right", remote: true %>
  <%# end %>
</div>

</table>

