
<div class="container">
   <h1>投稿詳細</h1>
  <div class="row">

<div class="col-lg-5">

<table class="tableArea2">
  <tr>
    <td>
      <% if @store.image.attached? %>
       <%= image_tag @store.image, size: "210x140" %>
      <% else %>
       <%= image_tag 'no_image', size: "100x100" %>
      <% end %>
    </td>
    <td></td>
  </tr>

  <tr>
    <th>カテゴリ</th>
    <td><%= @store.parent.name %>,<%= @store.children.name %>,<%= @store.grandchildren.name %></td>
  </tr>

  <tr>
    <th>店名</th>
    <td><%= @store.shop %></td>
  </tr>

  <tr>
    <th>店説明</th>
    <td><%= @store.description %></td>
  </tr>

  <tr>
    <th>最寄り駅</th>
    <td><%= @store.nearest_station %></td>
  </tr>

  <tr>
        <% if @store.member == current_member %>
    <td><%= link_to "編集する", edit_store_path, class:"btn btn-success" %></td>
    <td><%= link_to '投稿削除', @store, method: :delete, data: { confirm: '本当に消しますか？' } %></td>
        <% end %>
  </tr>

  <tr>
    <th>
      タグ
      </th>

      <td>
        <% @store_tags.each do |tag| %>
      <i class="fa-sharp fa-solid fa-tag"></i>
        <%= tag.name %>
         <% end %>
    </td>
  </tr>
  <tr>
    <th>
      コメント件数
    </th>
    <td>
      ：<%= @store.comments.count %>件
    </td>
  </tr>

  </table>

  </div>


<div class="col-lg-7">
   <div class= "textbox">
  <table>
 <tr>
  <% @store.comments.each do |comment| %>
    <td>
    <%= comment.member.name %></br></br>
    <div class="balloon">
    <%= comment.comment %>/<%= comment.created_at.strftime('%Y/%m/%d') %>
     <% if comment.member == current_member %>
      <%= link_to "削除", store_comment_path(comment.store, comment), method: :delete, data: { confirm: '本当に削除しますか？' } %>
      </div>
    </td>
    <% end %>
    </tr>
  <% end %>
  </table>
  </div>




<div class="textarea">
  <table>
<tr>
  <% if @member.email == "guest@example.com" then %>
  <td>
    会員登録するとコメント・いいね可能
  </td>
</tr>
  <% else %>

<tr>
  <%= form_with(model: [@store, @comment], local: true) do |f| %>
  <td>
    <%= f.text_area :comment, placeholder: "コメント入力欄", class: 'form-control'%>
      </td>

  <td>
    <%= f.submit "送信する" %>
      </td>
  <% end %>

      <% if @store.like_listed_by?(current_member) %>
    <td>
      <%= link_to store_like_lists_path(@store), class: "text-danger", method: :delete do %>
        ♥<%= @store.like_lists.count %> いいね
      <% end %>
    </td>
    <% else %>
    <td>
      <%= link_to store_like_lists_path(@store), class: "text-dark", method: :post do %>
        ♡<%= @store.like_lists.count %> いいね
      <% end %>
    </td>
   <% end %>
     <% end %>
</tr>
</div>
</table>









</div>
</div>
</div>