<div class="container">
  <div class-"row">
    <div class="mx-auto" style="width: 500px;">
      <h1 class="m-3"><%= @member.name %>の会員情報編集</h1>
        <%= form_with model: @member, url: members_update_path do |f| %>
          <table class="tableedit">
            <tr>
              <th><%= f.label "名前" %></th>
              <td><%= f.text_field :name %></td>
            </tr>

            <tr>
              <th><%= f.label "メールアドレス" %></th>
              <td><%= f.email_field :email %></td>
            </tr>

            <tr>
              <th>
                <%= link_to members_mypage_path do %>
                <i class="fa-solid fa-rotate-left fa-beat-fade fa-2xl" style="color: #fff;"></i>
                <% end %>
              </th>
              <td><%= f.submit "編集内容を保存", class: "index-button" %></td>
              <td><%= link_to "退会する", members_unsubscribe_path, class: 'destroy-button' %></td>
            </tr>
          </table>
        <% end %>
    </div>
  </div>
</div>
