<div><%= flash[:notice] %></div>
<div class="container">
  <div class-"row">
    <div class="mx-auto" style="width: 500px;">
<h2><%= @member.name %>の投稿一覧</h2>


<% @stores.each do |store| %>
<table class="table">
 <tr>
   <td>
      <%= link_to store_path(store.id) do %>
       <%= image_tag store.image, size: "150x100" %>
      <% end %>
   </td>

   <td><%= store.id %></td>
    <td><%= store.parent.name %>,<%= store.children.name %>,<%= store.grandchildren.name %></td>
   <td><%= link_to truncate(store.shop, length: 10), store_path(store.id), class: "text-dark" %></td>
   </tr>
   <% end %>
   </table>

