<!DOCTYPE html>
<html>
  <head>
    <title>Tihounohuugawaridokoro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/57fefeb910.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="border border-dark">
      <div class="container-fould">
       <nav class="navbar navbar-expand-lg" >
        <div class="navbar-brand">
          <%= link_to root_path do %>
          <h1><%= image_tag('地方の風変わり所.png') %></h1>
          <% end %>
        </div>

<% if member_signed_in? %>
  <ul class="ml-auto d-flex">
    <li class="nav-link text-light ">
    <%= link_to "マイページ",members_mypage_path, class: "btn btn-outline-dark" %>
    </li>

    <li class="nav-link text-light ">
    <%= link_to "投稿一覧",stores_path, class: "btn btn-outline-dark" %>
    </li>

    <li class="nav-link text-light ">
    <%= link_to "お気に入り場所",stores_like_list_path, class: "btn btn-outline-dark" %>
    </li>

    <li class="nav-link text-light ">
    <%= link_to "ログアウト",destroy_member_session_path, method: :delete, class: "btn btn-outline-dark" %>
    </li>

    <li class="nav-link text-light ">
    <%= link_to "新規投稿",new_store_path, class: "btn btn-outline-dark" %>
    </li>
  </ul>

  <% elsif admin_signed_in? %>
  <ul class="ml-auto d-flex">
    <li class="nav-link text-light ">
    <%= link_to "投稿一覧",admin_stores_path, class: "btn btn-outline-dark" %>
    </li>

    <li class="nav-link text-light ">
    <%= link_to "会員一覧",admin_path, class: "btn btn-outline-dark" %>
    </li>

    <li class="nav-link text-light ">
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark" %>
    </li>
  </ul>
  <% else %>

  <ul class="ml-auto d-flex">
        
    <li>
    <%= link_to "ゲストログイン", class: "btn btn-outline-dark" %>
    </li>
    
    <li class="nav-link text-light ">
    <%= link_to "新規登録", new_member_registration_path, class: "btn btn-outline-dark" %>
    </li>

    <li class="nav-link text-light ">
    <%= link_to "ログイン", new_member_session_path, class: "btn btn-outline-dark" %>
    </li>

    <li class="nav-link text-light ">
    <%= link_to "投稿一覧",stores_path, class: "btn btn-outline-dark" %>
    </li>
   </ul>
  <% end %>

       </nav>
      </div>
    </header>

    <%= yield %>

    <footer class="custom-footer-color fixed-bottom">
      <div class="container">
        <div class="row no-gutters justify-content-center">

          <div class="col-auto text-center pt-1">
            <%= image_tag "", alt: "LOGO", size: "75x50" %>
          </div>

          <div class="col-auto text-center pt-3">

            <p>©CopyRight 地方の風変わり所.inc</p>
          </div>

        </div>
      </div>
    </footer>

  </body>
</html>
